@font-face {
   font-family: 'Montserrat-SemiBold';
   font-display: swap;
   src: url('file:///C:/Users/trevor/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-10-20_085007/fonts/Montserrat-SemiBold/font.ttf');
}
